{% extends "partials/base_shop.html" %}
{% load static %}
{% load course_tags %}

{% block content_detail %}
      <!-- Custom page title-->
      <div class="page-title-overlap bg1-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
          <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="{% url "products:index" %}"><i class="ci-home"></i>Home</a></li>
                <li class="breadcrumb-item text-nowrap"><a href="{% url "products:shop" %}">Shop</a>
                </li>
                <li class="breadcrumb-item text-nowrap active" aria-current="page">Product Page</li>
              </ol>
            </nav>
          </div>
          <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-2">{{store.name}}</h1>
            <div>
              <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
              </div><span class="d-inline-block fs-sm text-white opacity-70 align-middle mt-1 ms-1">{{rating}} Reviews</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="bg-light shadow-lg rounded-3">
          <!-- Tabs-->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="#general" data-bs-toggle="tab" role="tab">General <span class='d-none d-sm-inline'>Info</span></a></li>
            <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#specs" data-bs-toggle="tab" role="tab"><span class='d-none d-sm-inline'>Tech</span> Specs</a></li>
            <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#reviews" data-bs-toggle="tab" role="tab">Reviews <span class="fs-sm opacity-60">(74)</span></a></li>
          </ul>
          <div class="px-4 pt-lg-3 pb-3 mb-5">
            <div class="tab-content px-lg-3">
              <!-- General info tab-->
              <div class="tab-pane fade show active " id="general" role="tabpanel">
                <div class="row">
                  <!-- Product gallery-->
                  <div class="col-lg-7 pe-lg-0 ">
                    <div class="product-gallery ">
                      <div class="product-gallery-preview order-sm-2">
                        {% for preview_image in store.get_g_preview %}
                        <div class="product-gallery-preview-item {% if forloop.first %}active{% endif %}" id="preview_{{ forloop.counter }}">
                          <img class="image-zoom" src="{{ preview_image.image_preview.url }}" data-zoom="{{preview_image.image_preview.url }}" alt="Product image">
                          <div class="image-zoom-pane"></div>
                        </div>
                        {% endfor %}
                      </div>
                      
                      <div class="product-gallery-thumblist order-sm-1">
                        {% for preview_image in store.get_g_preview %}
                        <a class="product-gallery-thumblist-item {% if forloop.first %}active{% endif %}" href="#preview_{{ forloop.counter }}">
                          <img src="{{ preview_image.image_preview.url }}" alt="Product thumb"></a>
                        {% endfor %}
                        {% comment %} 
                        <a class="product-gallery-thumblist-item video-item" href="https://www.youtube.com/watch?v=nrQevwouWn0">
                          <div class="product-gallery-thumblist-item-text"><i class="ci-video"></i>Video</div>
                        </a>
                         {% endcomment %}
                      </div>
                    </div>
                    
                  </div>
                  <!-- Product details-->
                  <div class="col-lg-5 pt-4 pt-lg-0">
                    <div class="product-details ms-auto pb-3">
                      <div class="h3 fw-normal text-accent mb-3 me-1">${% discount_calculation  store.get_original_price store.get_price %}<small></small></div>
                      <!-- color -->
                      <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Color:</span><span class="text-muted" id="colorOption">Dark blue/Orange</span></div>
                      <!-- color -->
                      {% for i in store.get_image %}
                      {% if i.color %}
                      <div class="position-relative me-n4 mb-3">
                        <div class="form-check form-option form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color" id="color1" data-bs-label="colorOption" value="Dark blue/Orange" checked>
                          <label class="form-option-label rounded-circle" for="color1"><span class="form-option-color rounded-circle" style="background-color: {{i.color.code}};"></span></label>
                        </div>
                        <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product available</div>
                      </div>
                      {% else %}
                      <!-- image -->
                      <div class="position-relative me-n4 mb-3">
                        <div class="form-check form-option form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color" id="color2" data-bs-label="colorOption" value="Dark blue/Orange" checked>
                          <img src="{{ i.image.url }}" class="form-option-label" for="color2" alt="">
                        </div>
                        <div class="form-check form-option form-check-inline mb-2">
                          <input class="form-check-input" type="radio" name="color" id="color2" data-bs-label="colorOption" value="Dark blue/Orange" checked>
                          <img src="{{ store.image.url }}" class="form-option-label" for="color2" alt="">
                        </div>
                        <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product available</div>
                      </div>
                      {% endif %}
                      {% endfor %}
                      <!-- qty -->
                      <div class="d-flex align-items-center pt-2 pb-4">
                        <select class="form-select me-3" style="width: 5rem;">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        <a href="{% url 'order:cart_add' store.id %}"><button class="btn btn-primary btn-shadow d-block w-100" type="button"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button></a>
                      </div>
                      <div class="d-flex mb-4">
                        <div class="w-100 me-3">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-heart fs-lg me-2"></i><span class='d-none d-sm-inline'>Add to </span>Wishlist</button>
                        </div>
                        <div class="w-100">
                          <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-compare fs-lg me-2"></i>Compare</button>
                        </div>
                      </div>
                      <!-- Product panels-->
                      <div class="accordion mb-4" id="productPanels">
                        <div class="accordion-item">
                          <h3 class="accordion-header"><a class="accordion-button" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="ci-delivery text-muted lead align-middle mt-n1 me-2"></i>Shipping options</a></h3>
                          <div class="accordion-collapse collapse show" id="shippingOptions" data-bs-parent="#productPanels">
                            <div class="accordion-body fs-sm">
                              <div class="d-flex justify-content-between border-bottom pb-2">
                                <div>
                                  <div class="fw-semibold text-dark">Local courier shipping</div>
                                  <div class="fs-sm text-muted">2 - 4 days</div>
                                </div>
                                <div>$16.50</div>
                              </div>
                              <div class="d-flex justify-content-between border-bottom py-2">
                                <div>
                                  <div class="fw-semibold text-dark">UPS ground shipping</div>
                                  <div class="fs-sm text-muted">4 - 6 days</div>
                                </div>
                                <div>$19.00</div>
                              </div>
                              <div class="d-flex justify-content-between pt-2">
                                <div>
                                  <div class="fw-semibold text-dark">Local pickup from store</div>
                                  <div class="fs-sm text-muted">&mdash;</div>
                                </div>
                                <div>$0.00</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h3 class="accordion-header"><a class="accordion-button collapsed" href="#localStore" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore"><i class="ci-location text-muted fs-lg align-middle mt-n1 me-2"></i>Find in local store</a></h3>
                          <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                            <div class="accordion-body">
                              <select class="form-select">
                                <option value>Select your country</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Belgium">Belgium</option>
                                <option value="France">France</option>
                                <option value="Germany">Germany</option>
                                <option value="Spain">Spain</option>
                                <option value="UK">United Kingdom</option>
                                <option value="USA">USA</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Sharing-->
                      <label class="form-label d-inline-block align-middle my-2 me-3">Share:</label><a class="btn-share btn-twitter me-2 my-2" href="#"><i class="ci-twitter"></i>Twitter</a><a class="btn-share btn-instagram me-2 my-2" href="#"><i class="ci-instagram"></i>Instagram</a><a class="btn-share btn-facebook my-2" href="#"><i class="ci-facebook"></i>Facebook</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Tech specs tab-->
              <div class="tab-pane fade" id="specs" role="tabpanel">
                <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                  <div class="d-flex align-items-center me-md-3"><img src="{% static 'img/shop/single/gallery/th05.jpg' %}" width="90" alt="Product thumb">
                    <div class="ps-3">
                      <h6 class="fs-base mb-2">Smartwatch Youth Edition</h6>
                      <div class="h4 fw-normal text-accent">${% discount_calculation  store.get_original_price store.get_price %}<small></small></div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center pt-3">
                    <select class="form-select me-2" style="width: 5rem;">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                    <div class="me-2">
                      <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                    </div>
                    <div>
                      <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                    </div>
                  </div>
                </div>
                <!-- Specs table-->
                <div class="row pt-2">
                  <div class="col-lg-5 col-sm-6">
                    <h3 class="h6">General specs</h3>
                    <ul class="list-unstyled fs-sm pb-2">
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Model:</span><span>Amazfit Smartwatch</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Gender:</span><span>Unisex</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Smartphone app:</span><span>Amazfit Watch</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">OS campitibility:</span><span>Android / iOS</span></li>
                    </ul>
                    <h3 class="h6">Physical specs</h3>
                    <ul class="list-unstyled fs-sm pb-2">
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Shape:</span><span>Rectangular</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Body material:</span><span>Plastics / Ceramics</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Band material:</span><span>Silicone</span></li>
                    </ul>
                    <h3 class="h6">Display</h3>
                    <ul class="list-unstyled fs-sm pb-2">
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Display type:</span><span>Color</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Display size:</span><span>1.28"</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Screen resolution:</span><span>176 x 176</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Touch screen:</span><span>No</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-5 col-sm-6 offset-lg-1">
                    <h3 class="h6">Functions</h3>
                    <ul class="list-unstyled fs-sm pb-2">
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Phone calls:</span><span>Incoming call notification</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Monitoring:</span><span>Heart rate / Physical activity</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">GPS support:</span><span>Yes</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Sensors:</span><span>Heart rate, Gyroscope, Geomagnetic, Light sensor</span></li>
                    </ul>
                    <h3 class="h6">Battery</h3>
                    <ul class="list-unstyled fs-sm pb-2">
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Battery:</span><span>Li-Pol</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Battery capacity:</span><span>190 mAh</span></li>
                    </ul>
                    <h3 class="h6">Dimensions</h3>
                    <ul class="list-unstyled fs-sm pb-2">
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Dimensions:</span><span>195 x 20 mm</span></li>
                      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Weight:</span><span>32 g</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Reviews tab-->
              <div class="tab-pane fade" id="reviews" role="tabpanel">
                <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                  <div class="d-flex align-items-center me-md-3"><img src="{% static 'img/shop/single/gallery/th05.jpg' %}" width="90" alt="Product thumb">
                    <div class="ps-3">
                      <h6 class="fs-base mb-2">Smartwatch Youth Edition</h6>
                      <div class="h4 fw-normal text-accent">${% discount_calculation  store.get_original_price store.get_price %}.<small></small></div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center pt-3">
                    <select class="form-select me-2" style="width: 5rem;">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                    <div class="me-2">
                      <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                    </div>
                    <div>
                      <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                    </div>
                  </div>
                </div>
                <!-- Reviews-->
                <div class="row pt-2 pb-3">
                  <div class="col-lg-4 col-md-5">
                    <h2 class="h3 mb-4">{{ total_reviews }} Reviews</h2>
                    <div class="star-rating me-2">
                      {% for i in 1|ljust:overall_rating %}
                        {% if i <= overall_rating %}
                          <i class="ci-star-filled fs-sm text-accent me-1"></i>
                        {% else %}
                          <i class="ci-star fs-sm text-muted me-1"></i>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <span class="d-inline-block align-middle">{{ overall_rating }} Overall rating</span>
                    
                    <p class="pt-3 fs-sm text-muted">{{ recommended_count }} out of {{ total_reviews }} ({{ recommendation_percentage }}%)<br>Customers recommended this product</p>
                  </div>
                  <div class="col-lg-8 col-md-7">
                    {% for star in stars %} 
                    <div class="d-flex align-items-center mb-2">
                      <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">{{ star }}</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                      <div class="w-100">
                        <div class="progress" style="height: 4px;">
                          
                          {% with star_count=star_counts|get_val:star %}
                          
                            <div class="progress-bar
                              {% if star == 5 %}bg-success
                              {% elif star == 4 %}bg-success
                              {% elif star == 3 %}bg-warning
                              {% elif star == 2 %}bg-warning
                              {% else %}bg-danger
                              {% endif %}"
                              role="progressbar" style="width: {{ star_counts|get_val:star }}%;" 
                              aria-valuenow="{{ star_counts|get_val:star }}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                          {% endwith %}
                        </div>
                      </div><span class="text-muted ms-3">{{ star_counts|get_val:star }}</span>
                    </div>
                    {% endfor %}
                    
                  </div>
                </div>
                <hr class="mt-4 mb-3">
                <div class="row py-4">
                  <!-- Reviews list-->
                  <div class="col-md-7">
                    <div class="d-flex justify-content-end pb-4">
                      <div class="d-flex flex-nowrap align-items-center">
                        <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block" for="sort-reviews">Sort by:</label>
                        <select class="form-select form-select-sm" id="sort-reviews">
                          <option value="newest">Newest</option>
                          <option value="oldest">Oldest</option>
                          <option value="popular">Popular</option>
                          <option value="high-rating">High rating</option>
                          <option value="low-rating">Low rating</option>
                        </select>
                      </div>
                    </div>
                    <!-- Review-->
                    {% for review in store.review_set.all %}
                    <div class="product-review pb-4 mb-4 border-bottom">
                      <div class="d-flex mb-3">
                        <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle" src="{% static 'img/shop/reviews/01.jpg' %}" width="50" alt="Rafael Marquez">
                          <div class="ps-3">
                            <h6 class="fs-sm mb-0">{{review.name}}</h6>
                            <span class="fs-ms text-muted">{{review.created_at}}</span>
                          </div>
                        </div>
                        <div>
                          <div class="star-rating">
                            {% for i in stars %}
                            {% if i <= review.rating %}
                                <i class="star-rating-icon ci-star-filled active"></i>
                              {% else %}
                                <i class="star-rating-icon ci-star"></i>
                              {% endif %}
                            {% endfor %}
                          </div>                 
                        </div>
                      </div>
                      <p class="fs-md mb-2">{{review.review_text}}</p>
                      <ul class="list-unstyled fs-ms pt-1">
                        <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                        <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                      </ul>
                      <div class="text-nowrap">
                        <button class="btn-like" type="button">15</button>
                        <button class="btn-dislike" type="button">3</button>
                      </div>
                    </div>
                    {% endfor %} 
                    <div class="text-center">
                      <button class="btn btn-outline-accent" type="button"><i class="ci-reload me-2"></i>Load more reviews</button>
                    </div>
                  </div>
                  <!-- Leave review form-->
                  <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                    <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                      <h3 class="h4 pb-2">Write a review</h3>
                      <form class="needs-validation" method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="review-name">Your name<span class="text-danger">*</span></label>
                          {{ review_form.name }}
                          {{ review_form.name.errors }}
                          <div class="invalid-feedback">Please enter your name!</div><small class="form-text text-muted">Will be displayed on the comment.</small>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="review-name">Email<span class="text-danger">*</span></label>
                          {{ review_form.email }}
                          {{ review_form.email.errors }}
                          <div class="invalid-feedback">Please provide valid email address!</div><small class="form-text text-muted">Authentication only - we won't spam you.</small>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="review-name">Rating<span class="text-danger">*</span></label>
                          {{ review_form.rating }}
                          {{ review_form.rating.errors }}
                          <div class="invalid-feedback">Please choose rating!</div>
                        </div>
                        <div class="mb-3">
                          {{ review_form.review_text }}
                          {{ review_form.review_text.errors }}
                          <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted">Your review must be at least 50 characters.</small>
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Submit a Review</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-5">
      <!-- Product carousel (You may also like)-->
      <div class="container pt-lg-2 pb-5 mb-md-3">
        <h2 class="h3 text-center pb-4">You may also like</h2>
        <div class="tns-carousel tns-controls-static tns-controls-outside">
          <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
            <!-- Product-->
            {% for store in store.related_store %}
            <div>
              <div class="card product-card card-static">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button>
                <a class="card-img-top d-block overflow-hidden" href="{{store.get_absolute_url}}"><img src="{{store.image.url}}" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartwatches</a>
                  <h3 class="product-title fs-sm"><a href="javascript:void(0)">{{store.name}}</a></h3>
                  <div class="d-flex justify-content-between">
                    <div class="product-price"><span class="text-accent">$250.<small>00</small></span></div>
                    <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- Product-->
            <div>
              <div class="card product-card card-static">
                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="javascript:void(0)"><img src="{% static 'img/shop/catalog/67.jpg' %}" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="javascript:void(0)">Smartwatches</a>
                  <h3 class="product-title fs-sm"><a href="javascript:void(0)">Heart Rate &amp; Activity Tracker</a></h3>
                  <div class="d-flex justify-content-between">
                    <div class="product-price text-accent">$26.<small>99</small></div>
                    <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product-->
            
          </div>
        </div>
      </div>
      <!-- Product bundles carousel (Cheaper together)-->
      <div class="container pt-lg-1 pb-5 mb-md-3">
        <div class="card card-body pt-5">
          <h2 class="h3 text-center pb-4">Cheaper together</h2>
          <div class="tns-carousel">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;nav&quot;: true}">
              <div>
                <div class="row align-items-center">
                  <div class="col-md-3 col-sm-5">
                    <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="{% static 'img/shop/catalog/70.jpg' %}" alt="Product"></a>
                      <div class="card-body py-2"><span class="d-inline-block bg-secondary fs-ms rounded-1 py-1 px-2 mb-3">Your product</span>
                        <h3 class="product-title fs-sm"><a href="#">Smartwatch Youth Edition</a></h3>
                        <div class="product-price text-accent">$124.<small>99</small></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-2 text-center">
                    <div class="display-4 fw-light text-muted px-4">+</div>
                  </div>
                  <div class="col-md-3 col-sm-5">
                    <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="{% static 'img/shop/catalog/72.jpg' %}" alt="Product"></a>
                      <div class="card-body py-2"><span class="d-inline-block bg-danger fs-ms text-white rounded-1 py-1 px-2 mb-3">-20%</span>
                        <h3 class="product-title fs-sm"><a href="#">Smartwatch Wireless Charger</a></h3>
                        <div class="product-price"><span class="text-accent">$16.<small>00</small></span>
                          <del class="fs-sm text-muted">$20.<small>00</small></del>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-none d-md-block col-md-1 text-center">
                    <div class="display-4 fw-light text-muted px-4">=</div>
                  </div>
                  <div class="col-md-4 pt-3 pt-md-0">
                    <div class="bg-secondary p-4 rounded-3 text-center mx-auto" style="max-width: 20rem;">
                      <div class="h3 fw-normal text-accent mb-3 me-1">$140.<small>99</small></div>
                      <button class="btn btn-primary" type="button">Purchase together</button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="row align-items-center">
                  <div class="col-md-3 col-sm-5">
                    <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="{% static 'img/shop/catalog/70.jpg' %}" alt="Product"></a>
                      <div class="card-body py-2"><span class="d-inline-block bg-secondary fs-ms rounded-1 py-1 px-2 mb-3">Your product</span>
                        <h3 class="product-title fs-sm"><a href="#">Smartwatch Youth Edition</a></h3>
                        <div class="product-price text-accent">$124.<small>99</small></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-2 text-center">
                    <div class="display-4 fw-light text-muted px-4">+</div>
                  </div>
                  <div class="col-md-3 col-sm-5">
                    <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/71.jpg" alt="Product"></a>
                      <div class="card-body py-2"><span class="d-inline-block bg-danger fs-ms text-white rounded-1 py-1 px-2 mb-3">-15%</span>
                        <h3 class="product-title fs-sm"><a href="#">Bluetooth Headset Air (White)</a></h3>
                        <div class="product-price"><span class="text-accent">$59.<small>00</small></span>
                          <del class="fs-sm text-muted">$69.<small>00</small></del>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-none d-md-block col-md-1 text-center">
                    <div class="display-4 fw-light text-muted px-4">=</div>
                  </div>
                  <div class="col-md-4 pt-3 pt-md-0">
                    <div class="bg-secondary p-4 rounded-3 text-center mx-auto" style="max-width: 20rem;">
                      <div class="h3 fw-normal text-accent mb-3 me-1">$183.<small>99</small></div>
                      <button class="btn btn-primary" type="button">Purchase together</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endblock  %}